PORT=8080
JWT_SECRET=replace-this-secret-in-production
JWT_DURATION=24h
FIREBASE_CREDENTIALS=C:\Users\tonil\Desktop\tcc\lead-manager-54595-firebase-adminsdk-fbsvc-375221693a.json
FIREBASE_PROJECT_ID=lead-manager-54595
UPLOAD_DIR=.\uploads
SONGS_DB_PATH=.\data\songs.db
