APP_PORT=8080
JWT_SECRET=troque-esta-chave-em-producao
FIREBASE_CREDENTIALS_PATH=C:\Users\tonil\Desktop\tcc\lead-manager-54595-firebase-adminsdk-fbsvc-375221693a.json
FIREBASE_PROJECT_ID=
SQLITE_PATH=./data/stream.db
UPLOAD_DIR=./uploads
WEB_DIR=./web
