APP_NAME=Stream Music Platform
JWT_SECRET_KEY=change-this-secret-key
JWT_EXPIRE_MINUTES=120
FIREBASE_PROJECT_ID=lead-manager-54595
FIREBASE_CREDENTIALS_PATH=C:\Users\tonil\Desktop\tcc\lead-manager-54595-firebase-adminsdk-fbsvc-375221693a.json

