SECRET_KEY=troque-esta-chave-em-producao
ACCESS_TOKEN_EXPIRE_MINUTES=480
FIREBASE_CREDENTIALS_PATH=C:\Users\tonil\Desktop\tcc\lead-manager-54595-firebase-adminsdk-fbsvc-375221693a.json
AI_MODEL_NAME=gpt
LANGUAGE_NAME=python
